$align: center;
$bg-color: rgb(219, 215, 215);
$color-01: rgb(175, 155, 187);
$color-02: rgb(122, 108, 129);
$color-03: rgb(255, 196, 0);
$color-04: #222;
$color-default: rgb(56, 55, 55);
$font-big: 3rem;
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
